/* media queries */

 .barra {
    display: none;
 }  

/* laptop */

@media screen and (min-width:769px) and (max-width:1024px) {

   header li {
    display: none;
   }

    .contact {
        flex-direction: column;
    }

    .barra {
        display: flex;
    }

    .contact-box {
        width: 100%;
    }

    .content h2 {
        margin-top: 78px;
    }

    .brand {
        font-size: 22px;
    }
}

/* tablet */

@media screen and (min-width:481px) and (max-width:768px) {
    
   header li {
    display: none;
   }

    .content h2{
        margin-top: 111px;
    }

    .content h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 24px;
    }

    .social-media a {
        font-size: 16px;
        padding: 5px;
    }

    .copyright {
        font-size: 15px;
    }

    .brand {
        font-size: 18px;
    }

    .barra {
        display: flex;
    }

    .code-block {
        font-size: 16px;
        max-width: 1100px;
    }
}

/* smartphone */

@media screen and (min-width:320px) and (max-width:480px) {
   header li {
    display: none;
   }

    .contact {
        flex-direction: column;
    }

    .barra {
        display: flex;
    }

    .contact-box {
        width: 100%;
    }

  header .Logo1 a {
    margin: 0;
    font-size: 24px;
  }

  nav ul {
    margin: 0;
    font-size: 18px;
  }

    .code-block {
        font-size: 10px;
        max-width: 700px;
        margin: 0;
    }

    .content p {
        font-size: 28px;
        text-align-last: left;
        margin-left: 16%;
        margin-right: 20%;
    }

    .content h2 {
        font-size: 42px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .oferta-navidad {
        display: none;
    }

    .brand {
        display: none;
    }

    .copyright {
        display: none;
    }

    header.shrink .Logo1 a {
    font-size: 20px;
  }

}

/* smarthphone */

@media screen and (max-width: 480px) {
    main {
        padding: 0 20px;
    }

    .articulo {
        width: 100%;
        flex-direction: column;
        margin: 20px 0;
}
   .articulo-info, .articulo-img {
        width: 100%;
        padding: 0px;
}

    .articulo-info h2 {
        font-size: 27px;

}
}

/* tablet */

@media screen and (min-width:481px) and (max-width: 1025px) {
    .articulo {
        width: 100%;
        margin: 20px 5%;
    }
}